:root {
    --bg-dark: #0a0a0a;
    --bg: #1a1a1a;
    --bg-light: #2a2a2a;

    --warning: #fa1f1cca;

    --accent: #001910;

    --border: #4a4a4a;
    --border-bright: #dfdfdf;

    --fg: #ededed;

    --br-small: 1rem;
    --br-med: 1.5rem;
    --br-large: 2rem;

    --pad-small: 1rem;
    --pad-med: 4rem;
    --pad-large: 8rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-dark: #0a0a0a;
    --bg: #1a1a1a;
    --bg-light: #2a2a2a;

    --fg: #ededed;
  }
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(circle 512px at top center, var(--accent), var(--bg-dark));
    color: var(--fg);
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

.modal {
    position: absolute;
    display: flex;
    align-items: left;
    justify-content: center;
    background: var(--bg);
    width: 50vw;
    height: 50vh;

    top: 50vh;
    left: 50vw;

    transform: translate(-50%, -50%);

    border-radius: var(--br-large);

    box-sizing: border-box;

    padding: var(--pad-med);

    flex-direction: column;

    gap: var(--pad-small);

    form {
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;

        gap: var(--pad-small);

        justify-content: center;
    }

    &.auth {
        max-width: 502;
        max-height: 412;
    }
}

input {
    position: relative;
    display: flex;
    align-items: left;
    
    background: var(--bg-light);

    border: none;
    border-radius: var(--br-small);

    padding: var(--pad-small);

    color: var(--fg);
}

button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: background 150ms ease;
    
    background: none;

    border: 1px solid var(--border);
    border-radius: var(--br-small);

    padding: var(--pad-small);

    color: var(--fg);

    &:hover {
        background: var(--bg-light);
        border: 1px solid var(--bg-light);

        cursor: pointer;
    }
}

h1 {
    line-height: 0px;
}

.navbar {
    position: absolute;
    display: flex;
    justify-content: left;
    align-items: center;
    width: calc(100vw - 2 * var(--pad-small));
    height: 48px;

    border-radius: var(--br-large);

    background: var(--bg);
    
    left: 50vw;
    top: 1rem;

    transform:translate(-50%, 0);

    box-sizing: border-box;


    .user {
        display: flex;
        align-items: center;
        justify-content: center;
        
        padding: 0px;

        margin-left: auto;

        margin-right: 4px;

        background: var(--bg-light);

        border: 1px solid var(--border);
        
        width: 39px;
        height: 39px;

        border-radius: var(--br-large);

        &:hover {
            cursor: pointer;
        }

    }
}

.spacer {
    height: 80px;
    width: 100%;
}

.content {
    display: flex;
    position: relative;

    flex-direction: row;

    width: calc(100vw - (2 * var(--pad-small)));

    gap: var(--pad-small);

    margin-left: var(--pad-small);

    padding-left: calc((100cqw - round(down, 100cqw, 150px + var(--pad-small))) / 2);
    padding-right: auto;
    overflow-x: hidden;

    box-sizing: border;
    padding-bottom: var(--pad-small);
    padding-top: var(--pad-small);

    flex-wrap: wrap;

    & .book-card {
        width: 150px;
        aspect-ratio: 2/3;

        border-radius: var(--br-small);

        box-sizing: border-box;

        padding: var(--pad-small);

        background: var(--bg);

        transition: transform 150ms ease;

        &:hover {
            transform: scale(1.05);

            cursor: pointer;
        }
    }
}

.warning {
    display: flex;
    position: absolute;
    top: -64px;
    left: 50vw;

    width: 256px;
    height: 48px;

    align-items: center;
    justify-content: center;

    box-sizing: border-box;

    background: var(--warning);
    border: 1px solid var(--border-bright);

    transform: translate(-50%, 0);

    border-radius: var(--br-small);

    transition: all 150ms ease;

    &.active {
        top: 32px;
    }
}

@media (width <= 400px) {
    html {
        font-size: 12px;
    }

    .modal {
        width: 90vw;
        height: 100vh;
    }
}
